@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: none;
}

:root {
  font-family: 'Be Vietnam Pro', sans-serif;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

/** To hide extended icon of input type in others browser */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/** To hide extended icon of input type in Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar {
  display: none; /** To hide scrollbar in others browser */
}

.grecaptcha-badge {
  visibility: hidden;
  opacity: 0;
}

textarea {
  resize: none;
}
